
  {% extends 'website/base.html' %}
  {% load static %}
  {% block content %}

  <!-- inner banner -->
  <section class="w3l-inner-banner-main">
    <div class="about-inner inner2">
      <div class="wrapper seen-w3">
        <ul class="breadcrumbs-custom-path">
          <li><a href="{% url 'website-home' %}">Home</a></li>
          <li><span class="fa fa-angle-right" aria-hidden="true"></span></li>
          <li class="active">Blog Page</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //inner banner -->


  <!-- blog -->
  <section class="w3l-blog-single">
    <div class="single blog sec-padding">
      <div class="wrapper">
        <h3 class="title-main">Latest Blog View</h3>
        <div class="d-grid grid-colunm-2">
          <div class="d-grid sub-content-blog">
            <div class="card">
              <a href="blog-single.html"> <img class="img-fluid img-responsive" src="{% static 'website/images/gallery2.jpg' %}"
                  alt="" /></a>
              <div class="card-img-overlay">
                <span class="badge-pill badge-pos">News</span>
              </div>
              <div class="card-body">
                <div class="news-title">
                  <h4 class="title-small">
                    <a href="blog-single.html" class="text-dark">Quisque velit nisi, pretium ut lacinia in
                      elementum.</a>
                  </h4>
                </div>
                <p class="card-text">
                  <small class="text-time">
                    <em>3 mins ago</em>
                  </small>
                </p>
              </div>
            </div>
            <div class="card mt-5">
              <a href="blog-single.html"> <img class="img-fluid img-responsive" src="{% static 'website/images/gallery5.jpg' %}"
                  alt="" /></a>
              <div class="card-img-overlay">
                <span class="badge-pill badge-pos">Blog</span>
              </div>
              <div class="card-body">
                <div class="news-title">
                  <h4 class="title-small">
                    <a href="blog-single.html" class="text-dark">Quisque velit nisi, pretium ut lacinia in
                      elementum.</a>
                  </h4>
                </div>
                <p class="card-text">
                  <small class="text-time">
                    <em>10 mins ago</em>
                  </small>
                </p>
              </div>
            </div>
            <div class="card">
              <a href="blog-single.html"><img class="img-fluid img-responsive" src="{% static 'website/images/gallery6.jpg' %}"
                  alt="" /></a>
              <div class="card-img-overlay">
                <span class="badge-pill badge-pos">Unity</span>
              </div>
              <div class="card-body">
                <div class="news-title">
                  <h4 class="title-small">
                    <a href="blog-single.html" class="text-dark">Quisque velit nisi, pretium ut lacinia in
                      elementum.</a>
                  </h4>
                </div>
                <p class="card-text">
                  <small class="text-time">
                    <em>14 mins ago</em>
                  </small>
                </p>
              </div>
            </div>
            <div class="card mt-5">
              <a href="blog-single.html"> <img class="img-fluid img-responsive" src="{% static 'website/images/portfolio1.jpg' %} "
                  alt="" /></a>
              <div class="card-img-overlay">
                <span class="badge-pill badge-pos">News</span>
              </div>
              <div class="card-body">
                <div class="news-title">
                  <h4 class="title-small">
                    <a href="blog-single.html" class="text-dark">Quisque velit nisi, pretium ut lacinia in
                      elementum.</a>
                  </h4>
                </div>
                <p class="card-text">
                  <small class="text-time">
                    <em>23 mins ago</em>
                  </small>
                </p>
              </div>
            </div>
          </div>
          <div class="right-side-main-cont">
            <div class="news-block p-3">
              <div class="news-media">
                <a href="blog-single.html"> <img class="img-fluid" src="{% static 'website/images/gallery1.jpg' %}" alt="" /></a>
              </div>
              <div class="news-title">
                <h4 class="title-large border-bottom">
                  <a href="blog-single.html" class="text-theme text-dark">Quisque velit nisi, pretium ut lacinia
                    in, elementum id enim.</a>
                </h4>
              </div>
              <div class="news-des my-3">
                <p>Condimentum ultrices mi est a arcu at cum a elementum per cum turpis dui
                  vel. Mauris nam suspendisse consectetur mus...</p>
              </div>
              <small class="text-time">
                <em>
                  <span class="fa fa-clock-o mr-2"></span>1hr ago</em>
              </small>
              <a href="blog-single.html" class="btn button-eff button-eff-2 button-2">Read More</a>
            </div>
          </div>
        </div>
        <!-- 3 grids -->
        <div class="d-grid blog-mid-sec py-sm-5">
          <div class="blog-item">
            <a href="blog-single.html"> <img src="assets/images/portfolio2.jpg" alt=" "
                class="img-fluid img-responsive" /></a>
            <div class="floods-text">
              <h3>
                <a href="blog-single.html">The fed and inequality
                  <span>Blogger |
                    <b>Adom Smith</b>
                  </span>
                </a>
              </h3>
              <p class="para-2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium</p>
            </div>
          </div>
          <div class="blog-item">
            <a href="blog-single.html"> <img src="assets/images/portfolio4.jpg" alt=" "
                class="img-fluid img-responsive" /></a>
            <div class="floods-text">
              <h3>
                <a href="blog-single.html">The fed and inequality
                  <span>Blogger |
                    <b>Adom Smith</b>
                  </span>
                </a>
              </h3>
              <p class="para-2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium</p>
            </div>
          </div>
          <div class="blog-item">
            <a href="blog-single.html"><img src="assets/images/portfolio3.jpg" alt=" "
                class="img-fluid img-responsive" /></a>
            <div class="floods-text">
              <h3>
                <a href="blog-single.html">The fed and inequality
                  <span>Blogger |
                    <b>Adom Smith</b>
                  </span>
                </a>
              </h3>
              <p class="para-2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium</p>
            </div>
          </div>
        </div>
        <!-- //3 grids -->
        <!-- video section -->
        <div class="main-sec">
          <div class="d-grid bottom-video">
            <div class="left-video-blog">
              <iframe src="https://player.vimeo.com/video/183494517?title=0&amp;byline=0&amp;portrait=0" width="640"
                height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>
            <div class="right-content-video">
              <h3> <a href="blog-single.html">Ut enim ad minim veniam, quis nostrud exercitation ullamco</a> </h3>
              <p class="para-2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum.</p>
              <div class="d-flex">
                <small class="text-time">
                  <em>
                    <span class="fa fa-clock-o mr-2"></span>1hr ago</em>
                </small>
                <small class="text-time sec-2">
                  <em><span class="fa fa-user mr-2" aria-hidden="true"></span>John Doe</em>
                </small>
              </div>
              <a href="blog-single.html" class="btn button-eff button-eff-2">Read More</a>
            </div>
          </div>
        </div>
        <!-- //video section -->
        <div class="pagination">
          <ul>
            <li> <a href="#none" class="not-allowed" disabled="">
                <span class="fa fa-angle-double-left" aria-hidden="true"></span>
              </a>
            </li>
            <li><a class="active" href="#page">1</a></li>
            <li>
              <a href="#page">2</a>
            </li>
            <li>
              <a href="#page">3</a>
            </li>
            <li>
              <a href="#page"><span class="fa fa-angle-double-right" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
  </section>
  <!-- //blog -->

  {% endblock %}
 

 


