{% extends 'website/base.html' %}
{% load static %}
{% block content %}


    <!-- inner banner -->
    <section class="w3l-inner-banner-main">
        <div class="about-inner inner2">
            <div class="wrapper seen-w3">
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{%url 'website-home' %}">Home</a></li>
                    <li><span class="fa fa-angle-right" aria-hidden="true"></span></li>
                    <li class="active">Team Single</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //inner banner -->
    <div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
        <!---728x90--->

    </div>
    <!-- teams 15 -->
    <section class="w3l-teams-15 w3l-teams-29-main">
        <div class="teams15">
            <div class="wrapper">
                <div class="grid grid-column-2">
                    <div class="column1">
                        <img class="img-responsive" src="assets/images/team1.jpg" />
                        <div class="main-sec-team">
                            <h3 class="team-head-2">Tara Mis</h3>
                            <div class="buttons-teams">
                                <a href="#facebook"><span class="fa fa-facebook"></span></a>
                                <a href="#twitter"><span class="fa fa-twitter"></span></a>
                                <a href="#linkedin"><span class="fa fa-linkedin"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="column2">
                        <h3 class="team-head">Hi, I'm Tara Mis</h3>
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.</p>
                        <p class="text">Fusce rutrum quam a ultrices rhoncus. Nulla eu ipsum tempus est suscipit et
                            vitae nulla. Once aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla
                            pariatur elit ipsum tempus est suscipit voluptate velit esse cillum dolore eu dolore eu.</p>
                        <h3 class="team-sub-2">Detailed Information:</h3>
                        <p class="text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                        <p class="team-para">My full name <span>: Tara Mis Withawind</span></p>
                        <p class="team-para">My profession <span>: Founder of CIO</span> </p>
                        <p class="team-para">My projects <span>: Excepteur, sint occaecat, etc.,</span></p>
                        <p class="team-para">Call me at <span>: <a
                                    href="tel:+(21)-255-999-8888">+(21)-255-999-8888</a></span>
                        </p>
                        <p class="team-para">Mail me at <span>: <a
                                    href="mailto:mail@company.com">mail@company.com</a></span>
                        </p>
                        <p class="team-para">Address location <span>: #32841 block, 235 Terry, 10001, USA.</span></p>
                    </div>
                </div>
                <div class="about-me-single">
                    <h3 class="">Few words About Me</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat.</p>
                    <p>Nulla eu ipsum tempus est suscipit et vitae nulla. Once aute irure dolor in
                        reprehenderitPhasillas fusce rutrum quam a ultrices rhoncus. Nulla eu ipsum tempus est suscipit
                        et vitae nulla.
                        Once aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur elit. Phasillas fusce rutrum quam a ultrices rhoncus. Nulla eu ipsum tempus
                        est suscipit et vitae nulla. Once aute irure dolor in reprehenderit.</p>
                    <p>Phasillas fusce rutrum quam a ultrices rhoncus. Nulla eu ipsum tempus est suscipit et vitae
                        nulla.
                        Once aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur elit. Phasillas fusce rutrum quam a ultrices rhoncus.</p>
                    <ul class="list-bottom">
                        <li><span class="fa fa-check" aria-hidden="true"></span>Lorem ipsum dolor sit amet</li>
                        <li><span class="fa fa-check" aria-hidden="true"></span>Consectetur adipiscing elit</li>
                        <li><span class="fa fa-check" aria-hidden="true"></span>Sed do eiusmod tempor incididunt ut</li>
                        <li><span class="fa fa-check" aria-hidden="true"></span>Labore et dolore magna aliqua</li>
                    </ul>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit
                        anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                        architecto beatae vitae dicta sunt explicabo.</p>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                        magni dolores eos qui ratione voluptatem sequi nesciunt.Neque porro quisquam est, qui dolorem
                        ipsum.
                    </p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}